.header {
    padding: 25px;
    display: flex;
    justify-content: center;
}

button {
    padding: 20px;
    margin: 10px;
    border-style: none;
    background-color: orange;
    color: white;
}

button:hover {
    cursor: pointer;
    background-color: darkorange;
}

.content {
    padding: 15px;
}

.content li {
    background-color: indianred;
    padding: 15px;
    margin-bottom: 15px;
    color: white;
}

.content li:hover {
    cursor: pointer;
    background-color: brown;
}