body {
    background-color: gray;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1 {
    position: relative;
    background-color: darkgoldenrod;
    height: 200px;
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.MagicButton {
    background-color: rgb(100, 46, 1);
    border-style: solid;
    border-color: black;
    color: white;
    height: 30px;
    margin-top: 30px;
}

.größe {
    height: 25px;
    width: 115px;
}

.gewicht {
    height: 25px;
    width: 115px;
}

.inbox1 {
    padding: 20px;
}

.inbox2 {
    padding: 20px;
}

.inbox1 input {
    display: block;
}

#output {
    height: 155px;
    width: 165px;
    background-color: white;
}